:root {
  --font-family: "Geometria", sans-serif;
  --bim-gray-light-0: #eee;
  --bim-gray-light-1: #d5d7d8;
  --bim-gray-light-2: #B3B7B9;
  --bim-gray-light-3: #969B9D;
  --bim-gray-dark-1: #484d50;
  --bim-gray-dark-2: #2D363A;
  --bim-accent: #48bbc8;
  --bim-accent-lighter: #daf1f4;
  --font-size-small: 12px;
  --font-size-normal: 15px;
  --font-size-bigger: 18px;
  --font-size-large: 40px;
  --default-line-height: 1.35em;
}
